#employee-table {
    overflow-y: scroll;
    
    table {
        width: 1000px;
        border-collapse: collapse;
        overflow: hidden;
        border: 3px solid #55608f;
        margin-bottom: 1rem;
    }

    th,
    td {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #000;
        border: 1px solid #558f62;
    }

    th {
        text-align: left;
    }

    thead th {
        background-color: #558f5f;
        color: white;
    }

    tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    tbody td {
        position: relative;
    }

    tbody td:hover:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
    }
}
