#employee-div {
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
  }

  p {
    margin: 1rem 0;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(13, 83, 13);
  }
}