.home {
    margin: 2rem 0;

    .title {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 1rem;
    }
    
    form {
        background-color: rgb(112, 197, 112);
        padding: 0.5rem 3rem;
        padding-bottom: 2rem;
        border-radius: 20px;
        margin: 1rem 0;
    }
    
    fieldset {
        padding: 0 1rem;
        padding-bottom: 1rem;
        border-radius: 20px;
    }

    input {
        border-radius: 5px;
    }

    /* Style for input validation */
    .input_valid {
        border: 2px solid #004d05 !important;
    }

    .input_error {
        border: 2px solid #5c0009 !important;
    }

    [id^=error_message] {
        color: #7c000c;
        background-color: #fcdede;
        display: block;
        font-size: 0.8rem;
        font-style: italic;
        font-weight: 100;
        padding: 5px;
        border-radius: 10px;
        margin-top: 5px;
        width: 100%;
    }

    .modalClass {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modalContentClass {
        display: flex;
        flex-flow: column nowrap;
        align-items: left;
        justify-content: left;
    
        width: 500px;
        background-color: #bbbbbb;
        padding: 20px;
        border-radius: 5px;
    }
}

